<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link href="/elections.css" rel="stylesheet" type="text/css">
	</head>
<body>
    <div class="elections">
        <h1>Published Elections</h1>
        <a href="/admin_home" class="backHome">Home</a>
        <form action = view_page method = post>
            
                <table border="1">
                    <tr>
                        <th>Election ID</th>
                        <th>Title</th>
                        <th>Link</th>
                    
                    </tr>
                    <%
                    if(data.length!=0){
                    var i=1;
                    data.forEach(function(rows){
                    %>
            
                    <tr>
                        <td><%=rows.election_id%></td>
                        <td><%=rows.title %></td>
                        <td><a href="/view_election/<%=rows.election_id%>">View Election</a></td>
                    </tr>
                    <%  i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="7">No Data Found</td>
                        </tr>
                    <% } %>
                </table>
            </form>
           
    </div>
</body>
</html>