* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 20px;
}
body {
    background-color: #a4b6c1;
}

.elections form {
    display: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.elections h1 {
    text-align: center;
    color: #0a2b5c;
    font-size: 30px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.elections form label{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}
.elections table{
    width: 1000px;
    background-color: #ffffff;
    margin: 100px auto;
    padding: 20px;
}
.elections th{
    width: 400px;
    background-color: #2e598f;
    margin: 100px auto;
    padding: 20px;
    color: #ffffff;
}


